<div class="navbar">
  <div class="container">
    <span class="text"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <a href="#home"> ABOUT ME </a>
      &nbsp; &nbsp; &nbsp; &nbsp;
      <a href="#education"> EDUCATION </a>
      &nbsp; &nbsp; &nbsp; &nbsp;
      <a href="#projects"> PROJECTS </a>
      &nbsp; &nbsp; &nbsp; &nbsp;
      <a href="#contact-me"> CONTACT </a>
    </span>
  </div>
</div>

<div class="front-page" id="home">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
        <div class="front-page-content1">
          <span class="title">
            Hi, 
            <span class="im">
            I'm
            </span> 
            <span class="underline">
            Sahil
            </span>
          </span>
          <br>
        </div>
        <div class="front-page-content2">
          <span class="summary quotes">A Competitive Programmer</span>
          <span class="summary quotes">Problem Solving Geek</span>
          <span class="summary quotes">A software developer</span>
          <br><br>
        </div>
        <div class="front-page-content3">
          <a href="#contact-me">
            <div class="orange-button">
              CONTACT ME
            </div>
          </a>
          <a href="#about-me">
            <div class="white-button">
              READ MORE
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  (function() {
    var quotes = $(".quotes");
    var quoteIndex = -1;
    function showNextQuote() {
        ++quoteIndex;
        quotes.eq(quoteIndex % quotes.length)
            .fadeIn(1500)
            .delay(1500)
            .fadeOut(1500, showNextQuote);
    }
    showNextQuote();
  })();
</script>