<div class="full-page" id="loading">
  <div class="spinner">
    Loading portfolio...<br>
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</div>

<div class="hidden">
  <div class="navbar">
    <div class="container">
      <span class="text"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="#home"> ABOUT ME </a>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="#education"> EDUCATION </a>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="#projects"> PROJECTS </a>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="#contact-me"> CONTACT </a>
      </span>
    </div>
  </div>
</div>