<div id="homepage">
  <div id="my_name">
    <center> Sahil Bansal </center> 
  </div>

  <center> 
    <p class="main">
    This is going to be an awesome portfolio!
    </p>
  </center>  
</div>

<footer>
  <p> 
    Contact me: 
    <a href="mailto: sahilbansal017.0@gmail.com">
      Mail
    </a>
  </p>
</footer>